JENKINS_URL=http://jenkins.example.local:8080
JENKINS_USER=your_jenkins_user
JENKINS_API_TOKEN=your_jenkins_api_token
JOB_NAME=nodejs-jenkins-k8s-cicd-lab
GITHUB_REPO_URL=https://github.com/your-user/nodejs-jenkins-k8s-cicd-lab.git
GIT_BRANCH=main
JENKINSFILE_PATH=Jenkinsfile
