JENKINS_URL=http://192.168.15.96:8080
JENKINS_USER=seu_usuario_jenkins
JENKINS_API_TOKEN=seu_api_token_aqui
JOB_NAME=nodejs-jenkins-k8s-cicd-lab
GITHUB_REPO_URL=https://github.com/brodyandre/nodejs-jenkins-k8s-cicd-lab.git
GIT_BRANCH=main
JENKINSFILE_PATH=Jenkinsfile
